{
  "motivation": "less cov_loss; batch128",
  "opt": {
    "GPT_attention_unit": 10,
    "batch_size": 128,
    "checkpoint_dir": "checkpoints/GT-D2G-path",
    "clip_grad_norm": 5.0,
    "corpus_type": "yelp-3-class",
    "early_stop_flag": false,
    "edge_rnn_hidden_size": 16,
    "edge_rnn_num_layers": 2,
    "epoch": 500,
    "epoch_warmup": 25,
    "gcn_classifier_hidden_size": 64,
    "gcn_encoder_hidden_size": 128,
    "gcn_encoder_pooling": "mean",
    "gpt_grnn_variant": "path",
    "gptrnn_decoder_dropout": 0.3,
    "gpu": false,
    "graph_rnn_hidden_size": 128,
    "graph_rnn_num_layers": 2,
    "gumbel_tau": 3,
    "gumbel_tau_decay": 0.995,
    "gumbel_tau_min": 0.5,
    "lambda_cov_loss": 0.5,
    "lr": 0.0003,
    "lr_scheduler_cosine_T_max": 64,
    "max_out_node_size": 10,
    "n_labels": {
      "dblp": 6,
      "nyt": 5,
      "yelp": 5,
      "yelp-3-class": 3
    },
    "optimizer_weight_decay": 0.0001,
    "patience": 100,
    "pretrain_emb_cache": ".vector_cache",
    "pretrain_emb_dropout": 0.5,
    "pretrain_emb_max_vectors": 320000,
    "pretrain_emb_name": "glove.840B.restaurant.400d.vec",
    "processed_pickle_path": "data/yelp.sentiment_centric.win5.pickle.gz",
    "regular_loss_decay": 0.993,
    "resume_checkpoint_path": "",
    "seed": 27,
    "shrinkage_lambda_cov_per_epoch": 50,
    "shrinkage_rate_lambda_cov": 0.25,
    "yelp_senti_feat": false
  },
  "seed": 81695917
}
